<div class="container-fluid header-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="header-brand-container">
          <a routerLink="/"><span class="header-brand-container-logo">Happy Plate</span></a>
        </div>
        <div class="header-content">
          <div class="header-content-getstarted">
            <a routerLink="/service-overload" class="cta getstarted-cta">Let's get healthy!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>