<div class="container-fluid" style="height: 100vh;"> <!--background-image: linear-gradient(97deg, orangered, rgb(255, 155, 118));-->
  <!-- <div class="layer" style="position: absolute; top: 10vh; left: 10vw; height: 80vh; width: 80vw; background-color: white; opacity: 0.6; z-index: 1;"></div> -->
  <div class="container" style="z-index: 2;">
    <div class="row justify-content-center">
      <div class="col-10" style="padding-top: 20vh; color: #777; font-size: 1.2rem; font-weight: 400;">
        <div class="text-center" style="width: 100%; padding: 40px;"><h1 style='color: orangered;'>Happy Plate</h1></div>
        <p>
          Door het succes van Happy Plate, zijn al onze voedingsdeskundigen druk bezig met het bereiden van maaltijdplannen. 
          Helaas is het momenteel niet meer mogelijk zich in te schrijven voor onze service. 
        </p>
        <p>
          Maak je alvast geen zorgen, wij doen er alles aan om zo snel mogelijk onze service opnieuw aan te bieden.
          Laat alvast je email adres na. Dit zorgt er voor dat je in onze wachtrij komt te staan. 
          Dan kunnen we je contacteren als er een plekje vrij komt.
        </p>
        <p>Alvast onze excuses voor dit ongemak.</p>
        <form [formGroup]="subForm" (ngSubmit)="onSubmit(subForm.value)" class="">
          <div class="form-inline">
            <div class="form-group mr-2" style="min-width: 300px;">
              <input formControlName="name" type="text" class="form-control" placeholder="voornaam en naam" style="width: 100%;">
            </div>            
            <div class="form-group mr-2" style="min-width: 300px;">
              <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email adres" style="width: 100%;">               
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-success">Contacteer me</button>
            </div>            
          </div>  
          <div class="">
            <small id="emailHelp" class="form-text text-muted" style="font-size: 0.8rem;">We delen je email met niemand en zullen deze ook niet gebruiken om spam te verspreiden.</small>
          </div>                
        </form>
      </div>      
    </div>
  </div>
</div>