<navbar></navbar>
<section class="container-fluid background-cover background-1 background-fill">
  <div class="container wrapper">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 header-info" style="">
        <div class="header-info-bg" style=""></div>
        <div class="text-center vertical-center">
          <h1>Jouw persoonlijke maaltijd</h1>
          <h4>speciaal ontwikkeld voor jouw door onze gediplomeerde voedingsdeskundigen</h4>
          <a class="cta getstarted-cta">Let's get healthy!</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid customer-section justify-content-center" style="background-image: linear-gradient(to top, #fff, #f4f7f9); padding: 60px 0 30px; min-height: 80px;">
  <div class="container customer-container text-center">
    <div class="row customers">
      <div class="col-12 customers-body text-center">
          Sluit je aan bij meer dan 300+ mensen die genieten van een persoonlijk maaltijdplan.
      </div>      
    </div>
  </div>
</section>
<section class="container-fluid catter-section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="title">
          How it work
        </div>
        <p class="title-sub">
          In <span style="color: orangered; font-weight: 500;">3 stappen</span> naar een gezondere levensstijl
        </p>
      </div>
    </div>      
    <div class="row justify-content-center">
      <div class="col-12 col-lg-12 catter-steps">
        <div class="row justify-content-md-end catter-step">
          <div class="col-12 col-lg-4 catter-step-header">
            <div class="catter-step-title">
              <div style="font-size: 60px; display: inline-block; padding: 0px 26px;">1</div>
              <h4 style="display: inline-block;">Uw voorkeur</h4>
            </div>           
          </div>
          <div class="col-12 col-lg-8 catter-step-body">
            <p>
              Vertel ons waar je van houdt, wat je niet lust, uw eet gewoontes allergieën en voedingsdoel.
            </p>
          </div>
        </div>
        <div class="row justify-content-md-end catter-step">
          <div class="col-12 col-lg-4 catter-step-header">
            <div class="catter-step-title">
              <div style="font-size: 60px; display: inline-block; padding: 0px 26px;">2</div>
              <h4 style="display: inline-block;">Het plan</h4>
            </div>
          </div>
          <div class="col-12 col-lg-8 catter-step-body">
            <p>
              Onze gediplomeerde voedingsdeskundigen bereiden een persoonlijk, op maat gemaakt voedingsplan voor jouw. 
              De wekelijkse plannen zijn flexibel, eenvoudig en bereidsvriendelijk.
            </p>
          </div>
        </div>
        <div class="row justify-content-md-end catter-step">
          <div class="col-12 col-lg-4 catter-step-header">
            <div class="catter-step-title">
              <div style="font-size: 60px; display: inline-block; padding: 0px 26px;">3</div>
              <h4 style="display: inline-block;">Enjoy</h4>
            </div>
          </div>
          <div class="col-12 col-lg-8 catter-step-body">
            <p>
              Kook een gezonde maaltijd en geniet met volle teugen van een kwaliteitsvollere levensstijl. Waar je trots op kan zijn.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid pauze-section pauze-row background-cover" style="height: 80vh;">
  <div class="container pauze-container" style="height: fill;">
    <div class="row" style="height: fill;">
      <div class="col-6"></div>
      <div class="col-12 col-md-6 plan-body" style="padding: 0;">
        <!-- <div class="back" style="position: absolute; height: 100%; width: 100%; opacity: 0.5; background-color: black;"></div> -->
        <div class="header-info-bg" style=""></div>
        <div class="plan-body-header text-center" style="color: white;">Wekelijkse maaltijden voor jou geselecteerd.</div>
        <div class="plan-body-info text-center" style="color: white;">Laat ons het werk doen. Gezonde maaltijden op uw lijf geschreven.
            Wij hebben de kennis, jij meer tijd om te genieten.</div>        
      </div>
      <!-- <div class="col-6 pauze-body">
        <div class="pauze-body-header">Wekelijkse maaltijden voor jou geselecteerd.</div>
        <div class="pauze-body-info">Laat ons het werk doen. Gezonde maaltijden op uw lijf geschreven.
            Wij hebben de kennis, jij meer tijd om te genieten.</div>        
      </div> -->
    </div>
  </div>
</section>
<!-- <section class="container-fluid plan-section">
  <div class="container plan-container">
    <div class="row">
      <div class="col-12 col-md-6 plan-body">
        <div class="plan-body-header">Wekelijkse maaltijden voor jou geselecteerd.</div>
        <div class="plan-body-info">Laat ons het werk doen. Gezonde maaltijden op uw lijf geschreven.
           Wij hebben de kennis, jij meer tijd om te genieten.</div>        
      </div>
      <div class="col-12 col-md-6 plan-image background-cover" style="min-height: 400px;">

      </div>
    </div>
  </div>
</section> -->
<section class="container-fluid health-section">
  <div class="container health-container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-7 plan-body text-center">
        <i class="fas fa-carrot fa-4x" style="padding: 30px;"></i>
        <div class="plan-body-header">Gezond leven is een juiste keuze</div>
        <div class="plan-body-info text-center">Wist je dat verse huisgemaakte bereidingen niet alleen veel gezonder, maar
           wel tot 80% goedkoper zijn. </div>        
      </div>      
    </div>
  </div>
</section>
<section class="container-fluid sub-section" style="background-image: linear-gradient(97deg, #55df98, #5fb4f1);">
    <div class="container sub-container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-7 sub-body text-center">          
          <div class="sub-body-header" style="display: inline-block;">Ben je klaar om te stralen?</div>    
          <a class="cta ready-cta" style="display: inline-block; float: right;">Ik ben klaar!</a>
        </div>        
      </div>
    </div>
  </section>
